In [1]:
import pandas as pd
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
import numpy as np

In [2]:
df = pd.read_csv("/kaggle/input/home-data-for-ml-course/train.csv",index_col="Id")
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
df.isna().sum()[df.isna().sum() !=0]

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [4]:
df.describe()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,46.549315,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,161.319273,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,0.000000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,0.000000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [5]:
# split dataset into str types and num types 
str_columns = []
int_columns = []
for i in df.columns:
    if is_string_dtype(df[i]):
        str_columns.append(i)
    if is_numeric_dtype(df[i]):
        int_columns.append(i)

In [6]:
len(str_columns)

43

In [7]:
len(int_columns)

37

In [8]:
str_df = df.drop(columns=int_columns)
int_df = df.drop(columns=str_columns)

In [9]:
len(str_df.columns)

43

In [10]:
int_df.isna().sum()[int_df.isna().sum() !=0]

LotFrontage    259
MasVnrArea       8
GarageYrBlt     81
dtype: int64

# Handling Missing Values

## 1) Delete Rows with Missing Values:

If the amount of NaN in the dataset is low or less than 10% - 15% this method is used.

Works for both string and integer columns

In [11]:
df.dropna(inplace=True)
df.isna().sum()

MSSubClass       0.0
MSZoning         0.0
LotFrontage      0.0
LotArea          0.0
Street           0.0
                ...
MoSold           0.0
YrSold           0.0
SaleType         0.0
SaleCondition    0.0
SalePrice        0.0
Length: 80, dtype: float64

In [12]:
df.isna().sum()[df.isna().sum() !=0]

Series([], dtype: float64)

## 2.) Replace with Mean and Median

When the amount of NaN is larger than 15% of the dataset we cannot ignore the NaN data points.

For this we replace it with the mean or median

In [13]:
df = pd.read_csv("/kaggle/input/home-data-for-ml-course/train.csv",index_col="Id")
df["LotFrontage"].isna().sum()

259

In [14]:
259/1460 # Greater than 15% of the dataset

0.1773972602739726

In [15]:
# replace with mean
df["LotFrontage"] = df["LotFrontage"].replace(np.NaN, df["LotFrontage"].mean())
df["LotFrontage"].isna().sum()

0

In [16]:
# replace with mean
df["LotFrontage"] = df["LotFrontage"].replace(np.NaN, df["LotFrontage"].median())
df["LotFrontage"].isna().sum()

0

## 3.) Interpolation

If filling the dataset with the mean or median is not a possible option, then we could use data interplotion. This is seen in cases like price datasets where replacing with mean is not appropriate.

In [17]:
df = pd.read_csv("/kaggle/input/home-data-for-ml-course/train.csv",index_col="Id")
df["LotFrontage"].isna().sum()

259

In [18]:
# fill NaN with Interpolation value
df["LotFrontage"] = df["LotFrontage"].interpolate(method='linear', limit_direction='forward', axis=0)

In [19]:
df["LotFrontage"].isna().sum()

0

## 4.) Handling NaN in String Column

For String data type we could either remove them as shown previously or we could replace them with something else that we want

In [20]:
str_df["Alley"].unique()

array([nan, 'Grvl', 'Pave'], dtype=object)

In [21]:
# replace NaN to "NA"
str_df["Alley"] = str_df["Alley"].replace(to_replace = np.nan, value ="NA")
str_df["Alley"].unique()

array(['NA', 'Grvl', 'Pave'], dtype=object)

## Conclusion
##### These are just some of the mostly used methods. Depending on your use case the method used may vary